<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajaxlibs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% include "main/includes/navbar.html" %}
<script>M.toast({html: "hahaha", classes: 'green rounded', displayLength:2000});</script>
{% include "main/includes/messages.html" %}

<div class="container">
    <br>
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'tinymce/js/prism.js' %}"></script>

</html>