{% extends "main/header.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>

<body>
<div class="row">
    {% for article in articles %}
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{article.article_title}}</span>
            <p style="font-size:50%">{{article.article_published}}</p>
            <p>{{article.article_content|safe}}</p>
            <br>
        </div>
        <div class="card-action">
            <a onclick="messages.success(request, 'hahaha')" class="btn">Toast!</a>
            <a class="btn-rounded btn-small waves-light black">{{article.article_directory}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</body>

{% endblock %}